body {
    color: #7289da;
    background-color: #36393e;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Header with image and title */
header {
    margin: auto;
    width: fit-content;
    display: flex;
    align-items: center;
}

header * {
    vertical-align: middle;
    float: left;
}

header h1 {
    margin-left: 10px;
    font-size: 600%;
}

/* Install button */
#installbutton, #tipsbutton {
    position: fixed;
    right: 10px;
    top: 66px;
    
    min-width: fit-content;
    font-size: 2.75vh;
    color: white;
    background-color: #7289da;

    border: none;
    border-radius: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0.75vh 1vw;

    opacity: 0;
    transition: opacity 300ms ease-in-out 500ms, color 300ms ease-in-out;
}

:is(#installbutton, #tipsbutton):hover {
    color: #36393e;
}

:is(#installbutton, #tipsbutton) img {
    vertical-align: middle;
    margin-right: 0.25vw;
}

#installbutton.available {
    opacity: 1;
    cursor: pointer;
}

#tipsbutton {
    top: 10px;
    height: 46px;
    opacity: 1;
    cursor: pointer;
}

div#itemdescription {
    text-align: center;
    display: block;
}

th {
    border-bottom: 2px solid #787D82;
}

tr > :first-child:not(th) {
    border-right: 1px solid #787D82;
    white-space: nowrap;
}

td {
    padding: 10px;
    border-bottom: 1px solid #787D82;
}

table#changelog h2 {
    margin-bottom: 0px;
}

a {
    color: #6665d2;
}

h4 {
    margin: 0px;
}
