body {
    width: 250px;
    height: 272px;
    background-color: #36393e;
}

/* Canvas and video */
video#kanjiguide {
    position: absolute;
}

canvas#drawcanvas {
    z-index: 10;
    position: absolute;
}

div#drawcontainer {
    height: 248px;
}

/* Buttons beneath */
div#panel {
    text-align: center;
    display: flex;
    justify-content: center;
}

div#panel * {
    border-radius: 3px;
    margin: 5px 0px 0px 5px;
    display: inline-block;
    background-color: #36393e;
    color: #7289da;
    border: 2px solid #7289da;
}

#panel>select {
    height: 23px;
}

#selectedunit>option {
    font-size: 125%;
}

#selectedkanji>option {
    font-size: 200%;
}
