/* Universal styling */
body {
    width: 660px;
    height: 272px;
    color: #7289da;
    background-color: #36393e;
}

/* Align and specify dimensions for the sections */
div#drawsection {
    width: 248px;
    height: 248px;
    float: left;
}

div#sectiondivider {
    float: left;
    width: 1px;
    height: 100%;
    border-left: 3px dotted #7289da;
    margin: 0px 6px 0px 6px;
}

div#infosection {
    float: left;
    width: 396px;
}

/* Draw section - video/canvas */
div#drawcontainer { height: 248px; }
video#kanjiguide { position: absolute; }
canvas#drawcanvas {
    position: absolute;
}

/* Draw section - buttons panel */
div#panel {
    text-align: center;
    display: flex;
    justify-content: center;
}

div#panel * {
    height: 23px;
    border-radius: 3px;
    margin: 4px 2px 0px 2px;
    display: inline-block;
    background-color: #36393e;
    color: #7289da;
    border: 2px solid #7289da;
}

#panel > select { height: 23px; }
#selectedunit > option { font-size: 125%; }
#selectedkanji>option { font-size: 200%; }

/* Info section - offline components */
#infosection.offline, #infosection #offlineindicator {
    height: 0px;
    visibility: hidden;
}

#infosection.offline #offlineindicator {
    visibility: visible;
}

/* Info section - Kanji-specific details */
div#infosection > *:not(h1) { font-size: 20px; }
div#infosection * { margin: 0px; }
div#infosection #onkunyomi {
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    vertical-align: top;
    display: inline-block;
}

/* Info section - examples */
div#infosection #exampleslist { padding-left: 5px; }
div#infosection #exampleslist b { margin-left: -10px; }
div#infosection #exampleslist * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    list-style-position: inside;
}

/* Kanji info div */
#infosection #selectedkanjidetails { color: #6665d2; }
#articlecontainer { position: relative; }
#articlecontainer > .article { display: inline-block; }
#articlecontainer > .article > * { font-weight: bold; font-size: 90%; }

/* Tracing grading system */
#popup-outer {
    width: 95%;
    z-index: 10;
    position: absolute;
    display: inline-block;
    justify-content: center;
    margin: auto;
}

#popup-inner {
    border-radius: 3px;
    background-color: #2ECC71;
    color: #1F8B4C;
    margin: 0 auto;
    display: table;
    border: 3px solid #1F8B4C;
    user-select: none;
    font-size: 185%;
}

#popup-inner span {
    margin: 15px;
}
